@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;

    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;

    /* Cor primária da marca (troque à vontade) */
    --primary: 226 71% 52%;
    --primary-foreground: 0 0% 100%;

    --secondary: 214 40% 96%;
    --secondary-foreground: 222 47% 11%;

    --muted: 214 32% 95%;
    --muted-foreground: 215 16% 47%;

    --accent: 47 96% 76%;
    --accent-foreground: 222 47% 11%;

    --success: 152 56% 40%;
    --success-foreground: 0 0% 100%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;

    --border: 214 32% 91%;
    --input: 214 32% 89%;
    --ring: 226 71% 52%;

    --neutral-900: 0 0% 23%;

    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    -webkit-text-size-adjust: 100%;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}
